---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Header from "../components/Header.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, publishedDate, updatedDate, heroImage } =
  Astro.props;
---

<html lang="ko">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body
    class="bg-gradient-to-b from-gray-100 to-white bg-[length:100%_600px] bg-no-repeat font-nanum-gothic text-sm text-gray-700 md:text-lg"
  >
    <Header />
    <main class="mx-auto max-w-full px-8 py-5 md:max-w-screen-lg md:px-0">
      <article class="prose prose-sm max-w-none md:prose-base">
        <div class="hero-image">
          {
            heroImage && (
              <img width={1020} height={510} src={heroImage} alt="" />
            )
          }
        </div>
        <div class="not-prose mb-10 text-center">
          <h1 class="mb-4 text-5xl font-bold">{title}</h1>
          <div class="mb-2 text-gray-500">
            <FormattedDate date={publishedDate} />
            {
              updatedDate && (
                <div class="italic">
                  Last updated on <FormattedDate date={updatedDate} />
                </div>
              )
            }
          </div>
          <hr />
        </div>
        <slot />
      </article>
    </main>
    <Footer />
  </body>
</html>
