---
import Source from "@components/source.astro";
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/formatted-date.astro";
import BaseLayout from "./base.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, publishedDate, updatedDate, source } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <article class="prose prose-sm max-w-none md:prose-base">
    <div class="not-prose mb-10 text-center">
      <h1 class="mb-4 text-5xl font-bold">{title}</h1>
      <div class="mb-2 text-gray-500">
        <FormattedDate date={publishedDate} />
        {
          updatedDate && (
            <div class="italic">
              Last updated on <FormattedDate date={updatedDate} />
            </div>
          )
        }
      </div>
      <hr />
    </div>
    {source ? <Source name={source.name} url={source.url} /> : null}
    <p>{description}</p>
    <slot />
  </article>
</BaseLayout>
